{{ define "footer" }}
  <p>Built by <a href="https://michaelgv.uk">Michael Gomes Vieira</a></p>
  <nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/donate">Donate</a>
  </nav>
</body>
</html>
{{ end }}
